<section>

  <!-- previous trainings table -->
  <mat-table
    [dataSource]="dataSource"
    matSort >

    <!-- date column -->
    <ng-container matColumnDef="date">
      <mat-header-cell
        mat-sort-header
        *matHeaderCellDef>
          Date
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.date | date }}</mat-cell>
    </ng-container>
    <!-- /date column -->

    <!-- name column -->
    <ng-container matColumnDef="name">
      <mat-header-cell
        mat-sort-header
        *matHeaderCellDef>
          Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <!-- /name column -->

    <!-- calories column -->
    <ng-container matColumnDef="calories">
      <mat-header-cell
        mat-sort-header
        *matHeaderCellDef>
          Calories
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.calories | number }}</mat-cell>
    </ng-container>
    <!-- /calories column -->

    <!-- duration column -->
    <ng-container matColumnDef="duration">
      <mat-header-cell
        mat-sort-header
        *matHeaderCellDef>
          Duration
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.duration | number }}</mat-cell>
    </ng-container>
    <!-- /duration column -->

    <!-- state column -->
    <ng-container matColumnDef="state">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
          State
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.state }}</mat-cell>
    </ng-container>
    <!-- /state column -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <!-- /previous trainings table -->

</section>
